/**
    A Nextflow-based reproducible pipeline for untargeted metabolomics data analysis
    Description  : This file in the configuration of nextflow4ms-dial, including resource allocation and parameters information
    Author       : Xinsong Du
    Creation Date: 11/01/2022
    License      : MIT License
          
    This script is free software: you can redistribute it and/or modify
    it under the terms of the MIT License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This script is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    MIT License for more details.
    
    You should have received a copy of the MIT License
    along with this script.  If not, see <https://opensource.org/licenses/MIT>.
    
    For any bugs or problems found, please contact us at
    - xinsongdu@ufl.edu (or xinsongdu@gmail.com), djlemas@ufl.edu
*/

manifest {
  name = 'Nextflow4Metabolomics Suite'
  author = 'Xinsong Du'
  homePage = 'https://github.com/Nextflow4Metabolomics'
  description = 'Nextflow-based reproducible workflows for untargeted metabolomics data analysis'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.04.0'
  version = '1.0dev'
}

workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete, writing success report to file ./logs/success_report.txt"
    println "Command line: $workflow.commandLine"
    File file = new File("./logs/success_report.txt")
    file.write("$workflow.success")
}

workflow.onError = {
    println "Oops .. something went wrong, exit status: $workflow.exitStatus\nWriting error message to file ./logs/error.txt"
    File file = new File("./logs/error.txt")
    file.write("$workflow.errorReport")
}

params
{

    // Workflow information
    name = "A Nextflow-based workflow for summarizing results produced by other workflows in Nextflow4Metabolomics Suite"
    input = "Two peak table files in .txt format"

    // Output help information
    help = null

    // output directory
    outdir = "./results"

    // outputs for dependency information
    dependencies = "dependencies.txt"

    // nf-core variables
    tracedir = "${params.outdir}/pipeline_info"

}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'


profiles {
  docker {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
    includeConfig 'conf/base.config'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    includeConfig 'conf/HiPerGator.config'
    singularity.cacheDir = "./tmp/"
  }
  functional_test {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
    includeConfig 'conf/functional_test.config'
  }
  ci_test { 
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
    includeConfig 'conf/ci_test.config'
  }
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
