/**
    RUMP: A Reproducible Untargeted Metabolomics Data Processing Pipeline
    Description : This file in the configuration of RUMP, including resource allocation and parameters information
    Author      : Xinsong Du
    License     : MIT License
          
    This script is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This script is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    MIT License for more details.
    
    You should have received a copy of the MIT License
    along with this script.  If not, see <https://opensource.org/licenses/MIT>.
    
    For any bugs or problems found, please contact us at
    - xinsongdu@ufl.edu, manfiol@ufl.edu, djlemas@ufl.edu; 
    - https://github.com/lemaslab/RUMP
*/

params
{
    table_1 = "functional_test/sample_data/table_1.txt" // Location of the first peak table
    table_2 = "functional_test/sample_data/table_2.txt" // Location of the second peak table
    peak_merge_code = "src/peak_merge.py" // Location of the code for merging peaks
    quantification_code = "src/quantification.py" // Location of the code for quantification
    column_name_for_mz_values = "'Average Mz'" // Column name for the column including m/z values
    column_name_for_rt_values = "'Average Rt(min)'" // Column name for the column including retention time values
    ppm_threshold_for_merging = 10 // PPM threshold for the merging
    rt_threshold_for_merging = 0.3 // Retention time threshold for the merging
    merging_result = "table_merged.csv" // The name of the merged peak table

    column_name_for_annotation_status = "'Annotation tag (VS1.0)'" // Column name for the column including the annotation method
    desired_identification_status = "'annotated by user-defined text library'" // Desired annotation method
    column_name_for_annotated_metabolites = "'Metabolite name'" // Column name for the column including the name of identified metabolites
    quantification_result = "quantification.csv" // The file name of the quantification result

    max_cpus = 5
    max_memory = 4.GB
    max_time = 12.h
}

process.container = 'xinsongdu/metabolomics_software_containerization:v2'

process 
{

    withName: peak_merge
    {
        time =  '1800m'
        cpus = 1
        memory = '3 GB'  
    }
    withName: quantification
    {
        time =  '15m'
        cpus = 1
        memory = '1 GB'  
    }
}